.env
.env.*
!.env.example
.git
.omnirush
.opencode
node_modules
vendor
public/build
public/hot
public/storage
storage/*
!storage/app
storage/app/*
!storage/framework
storage/framework/*
!storage/logs
storage/logs/*
bootstrap/cache/*.php
database/*.sqlite
*.log
